html,body{
    margin: 0;
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}
.btn{
    width: 300px;
    height: 120px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 36px;
    color: #03e9f4;
    /* ×Ö·û¼äµÄ¾àÀë */
    letter-spacing: 2px;
    background: transparent;
    border: none;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}
.btn:hover{
    background: #03e9f4;
    color: black;
    box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 200px #03e9f4;
    /* µ¹Ó° */
-webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
.btn span{
    position: absolute;
    content: '';
}
.btn span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    animation: animate1 1s linear infinite;
    background: linear-gradient(90deg,transparent,#03e9f4);
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}

.btn span:nth-child(2){
    top: -100%;
    right: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}

.btn span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.55s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}

.btn span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}
